{% extends "base.html" %}

{% block title %}Trang Chủ{% endblock %}

{% block content %}
<div class="content" style="text-align: center;">
    <h1><b> Định hướng nghề nghiệp từ sớm để không phải “Giá như…!”</b></h1>
    <img src="{{ url_for('static', filename='anh.jpg') }}" alt="Định hướng nghề nghiệp" class="responsive-img" />
    <style>
        p {
            margin-bottom: 20px;
            line-height: 1.6;
        }
    </style>
    
    <p><i>Đừng bao giờ học vì bằng cấp để rồi mong kiếm được việc nhờ mảnh giấy nhỏ đó. Cái vô giá chính là những gì bạn<br>
          thật sự sở hữu trong trí óc và tay nghề. Đừng bao giờ gói gọn và tự thu hẹp lại tầm nhìn trong một lĩnh vực nào <br>
          cả! Có nhiều nguyên nhân dẫn đến thất nghiệp, trong đó có nguyên nhân chính là khôngphù hợp công việc, dù là có <br>
          bằng cấp.
        </i>
    </p>

    <p>
        “Ngay cả khi trúng tuyển hay đã tốt nghiệp ở một trường đại học hay cao đẳng nào đó, điều ấy không hoàntoàn đồng nghĩa<br>
        với tìm được công việc phù hợp ngành nghề mà trường đó đào tạo. Đây mới chỉ là chặng đầu của việc nghiệm thử, chưa phải<br>
        là lúc nghiệm thu về sự phù hợp với nghề” – Hiệu trưởng của một trường Đại học cho biết.<br>
    </p>

    <p>
        Thực trạng cho thấy rất nhiều học sinh, sinh viên hướng tới đại học hay cao đẳng cốt không phải để chọn nghề phù hợp. Mà <br>
        chỉ học cầu mong có được mảnh bằng, còn nghề nghiệp hay việc làm thì… tính sau! Cũng vì để “tính sau”, nên đã có lúc lên<br>
        đến con số 90% sinh viên tốt nghiệp đang phải thất nghiệp. <br>
    </p>

    <img src="{{ url_for('static', filename='anh1.png') }}" alt="Định hướng nghề nghiệp cho con" class="responsive-img" />
</div>
<div class="container">
    <h1><b>1.Định hướng nghề nghiệp là gì? Ai cần định hướng nghề nghiệp?</b></h1>
    <p>Định hướng nghề nghiệp là quá trình mà mỗi cá nhân tự lựa chọn cho mình một nghề nghiệp tương lai. Việc định<br>
       hướng nghề nghiệp cần dựa trên những yếu tố như: khả năng, sở thích, tính cách, điều kiện và các yếu tố khác<br> 
       liên quan đến nghề nghiệp như thu nhập, cơ hội nghề nghiệp.  </p>
    <p>Đối tượng cần định hướng nghề nghiệp bản thân rất đa dạng và phong phú về lứa tuổi, trình độ, kinh nghiệm và <br>
       hoàn cảnh xã hội. Đối tượng có thể bao gồm học sinh THPT, sinh viên đại học, người đang tìm kiếm việc làm mà <br>
       chưa có kinh nghiệm hay những người đã tích lũy một lượng kinh nghiệm đáng kể, thậm chí cả những người muốn <br>
       thay đổi nghề nghiệp hiện tại và những người đã có cả thành công nhất định trong sự nghiệp.</p>
    <p>
    <h1><b>2.Tại sao phải định hướng nghề nghiệp?</b></h1>
    <P> Định hướng nghề nghiệp là quan trọng vì điều này mang lại nhiều lợi ích cùng với giá trị cho cuộc sống và sự nghiệp. Dưới<br> 
        đây là một số lý do vì sao ta nên phải định hướng nghề nghiệp: 
        <ul> 
            <li>Xác định được mục tiêu: Định hướng nghề nghiệp giúp chúng ta xác định mục tiêu rõ ràng trong sự nghiệp của mình.<br>
                Từ mục tiêu đó giúp chúng ta biết được cần phải tập trung vào những gì quan trọng nhất để phát triển sự nghiệp <br>
                và bản thân. </li>
            <li>Tăng khả năng quyết định: Định hướng nghề nghiệp giúp chúng ta có được những thông tin cần thiết để đưa ra những<br> 
                quyết định khôn ngoan về lựa chọn ngành nghề, môi trường . Quyết định đúng sẽ giúp chúng ta tránh những sai lầm <br>
                từ đó tiết kiệm thời gian trong việc thử nghiệm các hướng đi không chắc chắn </li>
            <li>Tăng khả năng quyết định: Định hướng nghề nghiệp giúp chúng ta có được những thông tin cần thiết để đưa ra những <br>
                quyết định khôn ngoan về lựa chọn ngành nghề, môi trường . Quyết định đúng sẽ giúp chúng ta tránh những sai lầm từ <br>
                đó tiết kiệm thời gian trong việc thử nghiệm các hướng đi không chắc chắn</li>
            <li> Giảm rủi ro và stress: Định hướng nghề nghiệp giúp chúng ta định hướng rõ ràng về mục tiêu cũng như nghề nghiệp tương <br>
                lai của mình, từ đó giảm áp lực và stress do không biết mình đang làm gì và hướng đi nào là phù hợp…</li>
            <li> Tạo sự cân bằng và hài hòa: Định hướng nghề nghiệp giúp bạn tìm được sự cân bằng giữa công việc và cuộc sống. Khi làm <br>
                việc trong lĩnh vực mà bạn yêu thích và đam mê, bạn có thể thưởng thức công việc cũng như cuộc sống ngoài giờ làm việc.</li>    
        </ul>
    </p>
    
</div>
{% endblock %}
