{% extends "base.html" %}

{% block title %}Hỏi Đáp và Tin Tức{% endblock %}

{% block content %}
<h1>Hỏi Đáp</h1>

<!-- Phần Hỏi Đáp -->
<div class="qa-section"style="text-align: justify; margin-top: 50px; border: 1.5px solid #ccc; padding: 20px; border-radius: 10px; width: 80%; margin-left: auto; margin-right: auto;">
    <div class="qa-item">
        <h3> 1.HS: Chúng em thường băn khoăn việc chọn nghề làm sao để không bị lầm .  Vậy trước hết , nên hiểu thế nào là chọn lầm nghề ?</h3>
        <p>- Nhà tư vấn (NTV):  Đặt vấn đề như vậy là cần thiết và tỏ ra bình tĩnh trước khi lựa chọn. Bởi vì, phải suy xét kỹ, nhằm "biết trước để <br>
            tránh", hoặc "hiểu để không lầm". Khái niệm "chọn lầm nghề" tương ứng với thuật ngữ trong hướng nghiệp gọi là "không tương thích với <br>
            nghề được chọn".</p>
    </div>
    <div class="qa-item">
        <h3>HS: Với HS, nguyên nhân nào dẫn đến việc chọn lầm nghề ?</h3>
        <p> NTV: Việc chọn lầm thường do cảm tính, do "nổi hứng" nhất thời, do chạy theo phong trào hoặc do bị mất phương hướng nên "nhắm mắt <br>
            đưa chân"... Nếu tránh được tối đa những cảm xúc vội vàng, biết suy xét và phân tích từ nhiều khía cạnh theo lý tính, thì việc lựa <br>
            chọn ngành nghề ít bị lầm hơn.<br>
            Cũng có trường hợp do sức ép từ phía gia đình. Một nghịch lý thường gặp qua thực tế tư vấn hướng nghiệp ở nhiều nơi đã cho thấy,rất <br>
            nhiều HS không trả lời được câu hỏi "Tại sao em quyết định chọn nghề này?" nhưng vị phụ huynh đi theo đã trả lời được câu đó!Như <br>
            vậy, với những HS ấy, chọn nghề là do mong muốn của cha mẹ, thay vì của chính mình !<br>
        </p>
    </div>
    <div class="qa-item">
        <h3> 2.HS: Nên hiểu kỹ như thế nào là chọn đúng, nghĩa là chắc chắn "chọn không lầm nghề"?</h3>
        <p>- NTV: Chọn không lầm nghề là chọn được một nghề tương thích với mình.  Ở đây có hai ý: nghề mình chọn phải là nghề mình thích,<br>
            đương nhiên, nhưng còn phải xét đến yếu tố tương hợp. Yếu tố này quan trọng hơn cả.  Nếu không tương hợp với yêu cầu của nghề,<br>
            dù ta có thích đến đâu, sớm muộn cũng sẽ bị nghề đào thải. Hơn nữa, sở thích chưa phải là sở trường. Sở thích thiên về cảm tính, <br>
            không ổn định. Sở trường mới là tố chất của năng lực, ổn định hơn, bền vững hơn, thường không đổi trước mọi sức ép.<br>
            
            Tương hợp chủ yếu về hai mặt: phẩm chất và năng lực. Ngoài ra, còn phải xét đến giới tính, sức khỏe, hoàn cảnh... và chí hướng của <br>
            ta. Nếu ta thích nghề đó, lại còn được nghề "yêu", nghĩa là "nghề chọn ta" (vì tương hợp với ta) thì chắc chắn ta đã chọn đúng nghề.<br>
            Do đó, các nhà giáo dục hướng nghiệp đã khẳng định:  chủ yếu là nghề chọn ta chứ không phải ta chọn nghề. Có "giao duyên" như vậy<br>
            mới không lầm lẫn. Trên thực tế, vì không được nghề "yêu" nên đã có rất nhiều người dù đã tốt nghiệp nhưng khi vào nghề mới thấy <br>
            rằng không thể theo được nghề đã chọn (do chọn lầm).<br>
        </p>

    </div>
    <div class="qa-item">
        <h3>3.HS: Trong trường hợp chúng em chưa tiếp xúc và chưa hành nghề, làm sao để biết nghề ấy có "yêu" mình hay không, cótương hợp với mình <br>
            đến mức nào ? </h3>
        <p> </p>
    </div>
    <div class="qa-item">
        <h3> </h3>
        <p> - NTV: Sự giao duyên giữa nghề với người (có duyên nợ hay không) qua trải nghiệm thực tế sẽ càng thấy rõ, tất nhiên.  Nhưng bước<br>
            đầu, qua trắc nghiệm khách quan cũng có thể giúp ta biết được về cơ bản, ta có hợp (hay không hợp) với nghề định chọn.  Hiện nay,<br>
            trên mạng lưới tư vấn giáo dục, có nhiều trung tâm tư vấn hướng nghiệp mà tại đó có cả trắc nghiệm hướng nghiệp.<br>

            Trắc nghiệm hướng nghiệp là một loại hình trắc nghiệm khách quan hướng về việc chẩn đoán và phát hiện những đặc điểm tư chất <br>
            của cá nhân đối với nghề nghiệp.  Kết quả trắc nghiệm này được coi là cơ sở khoa học để tư vấn hướng nghiệp, góp phần hỗ trợ <br>
            cho HS tự hiểu mình một cách khách quan hơn.  Từ đó biết chọn học ngành nghề nào cho phù hợp, đồng thời tránh được những nghề<br>
            không phù hợp. Trên mạng internet tiếng Việt, bạn có thể tham khảo tại website www.tuvanhuongnghiep.vn.<br></p>
    </div>
    <div class="qa-item">
        <h3>4.HS: Để chọn nghề và hướng nghiệp chính xác, các em đang đứng trước nhiều lựa chọn, giữa các yếu tố tinh hoa và không tinh hoa.<br> 
            Nếu vì một lẽ gì đó, không chọn được yếu tố tinh hoa, dễ bị tụt hậu.  Nhưng nếu chạy theo tinh hoa,lại thấy mình không đủ sức! <br>
            Vậy, nên tự giải quyết như thế nào trước tình huống ấy ? </h3>

        <p> - NTV: Giữa tinh hoa và không tinh hoa, ta nên cân nhắc bởi đặc điểm vừa sức (vừa khả năng, vừa trình độ, vừa tính cách, vừa<br> 
            sức khỏe..., vừa cả túi tiền). Nghĩa là, phải căn cứ vào những nét riêng của từng cá nhân, mới lựa chọn phù hợp. Ở đây, phương <br>
            châm "liệu cơm gắp mắm" là thượng sách. Trong nhiều yếu tố lựa chọn, có khi ta không thể chọn yếu tố tinh hoa, mà phải "hạ mình"<br>
            để chọn yếu tố khác, không tinh hoa nhưng phù hợp hơn, thiết thực hơn và "chắc ăn" hơn. Đó là cách nhìn, cách xét và cách chọn <br>
            của người có đầu óc thực tế, khác với người mơ mộng.</p>
    </div>
    <div class="qa-item">
        <h3> 5.HS:Có nên lấy tính cách là một yếu tố quyết định đến việc chọn ngành, chọn nghề? </h3>
        <p>-NTV :Không có sự phân tách rõ ràng với các nghề nghiệp phù hợp theo tính cách thế nhưng một số nghề nghiệp phù hợp với người hướng<br>
            nội,trong khi những nghề khác có xu hướng phù hợp với người hướng ngoại.   <br>

            Tính cách là điều rất quan trọng bởi nó sẽ xác định liệu bạn có thực hiện tốt công việc của mình hay không.  Bạn thuộc nhóm tính <br>
            cách nào và tính cách đó có phù hợp với nghề nghiệp mà bạn đang nghĩ đến không? <br>
            
            Nếu bạn thiên về thực tế, có đầu óc chi tiết và là người có khả năng giải quyết vấn đề thì bạn có thể cân nhắc lựa chọn các nghề <br>
            như: Kỹ sư, Kỹ thuật viên điện tử, Kiến trúc sư,…  </p>
    </div>
    <div class="qa-item">
        <h3> 
           6.HS: Làm sao để không bị tâm lý cả thèm, chóng chán khi chọn nghề? 
        </h3>
        <p> -NTV:Thế giới ngoài kia có hàng trăm ngành nghề, và khi bản thân lựa chọn ngành nghề yêu thích rồi thì sẽ có những áp lực, khó khăn <br>
            khiến chúng ta chán nản. Tâm lý chung đó hoàn toàn dễ hiểu.  <br>

            Bạn hãy hiểu rằng nếu không kiên định theo đuổi mục tiêu thì làm sao có được thành tựu trong công việc được, mọi thứ cần bắt đầu từ <br>
            những cố gắng nhỏ và luôn giữ trách nhiệm với lựa chọn của mình. </p>
    </div>
</div>
<h1>Tin Tức Hướng Nghiệp</h1>

<div class="news-container">
    <div class="news-card">
        <img src="{{ url_for('static', filename='TIN1.jpg') }}" 
     alt="TIN1" 
     style="width: 300px; height: 200px;">


        <h3>Hướng Nghiệp Online: Ngành F&B – Cơ Hội Việc Làm Cho Bạn Trẻ Đam Mê Ẩm Thực</h3>
        <p><a href="https://huongnghiepaau.edu.vn/huong-nghiep-online-nganh-fb-co-hoi-viec-lam-cho-ban-tre-dam-me-am-thuc" target="_blank">Đọc thêm</a></p>
    </div>

    <div class="news-card">
        <img src="{{ url_for('static', filename='TIN2.jpg') }}" 
     alt="TIN2" 
     style="width: 300px; height: 200px;">

        <h3>Ba Mẹ Ơi, Đừng Nói Rằng “Cứ Vào Đại Học Đi Rồi Tính!”</h3>
        <p><a href="https://huongnghiepaau.edu.vn/ba-me-oi-dung-noi-rang-cu-vao-dai-hoc-di-roi-tinh" target="_blank">Đọc thêm</a></p>
    </div>

    <div class="news-card">
        <img src="{{ url_for('static', filename='TIN3.jpg') }}" 
     alt="TIN3" 
     style="width: 300px; height: 200px;">

        <h3>“Cơn Lốc” Đa Ngành Khuấy Động Ngày Hội Lựa Chọn Nguyện Vọng 2023</h3>
        <p><a href="" target="_blank">Đọc thêm</a></p>
    </div>

    <div class="news-card">
        <img src="{{ url_for('static', filename='TIN4.jpg') }}" 
     alt="TIN4" 
     style="width: 300px; height: 200px;">

        <h3>Trại Hè Ngôi Làng Toàn Cầu Hướng Nghiệp Cho 300 Nữ Sinh Vĩnh Long</h3>
        <p><a href="https://huongnghiepaau.edu.vn/trai-he-ngoi-lang-toan-cau" target="_blank">Đọc thêm</a></p>
    </div>
</div>

{% endblock %}

